.col {
  border: none;
}

.control-item {
  border: 1px;
}
.map-container {
  width: 640px;
  height: 480px;
}
.photo-preview {
  max-width: 100%;
}

.btn-file {
  margin-right: 4px;
}

.account-pic-button {
  margin-left: 10px;
}

.image-div {
  text-align: center;
}

.no-invites {
  margin-top: 20px !important;
}

.opaque-bg {
  padding-top: 0 !important;
  margin-top: 4px !important;
}