.col {
  border: none;
}

.control-item {
  border: 1px;
}
.map-container {
  width: 640px;
  height: 480px;
}
.map-canvas {
  width: 640px;
  height: 480px;
}
.map-canvas img {
  max-height: none;
  max-width: none;
}