@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
@import 'meteoric_ionic-sass/ionic';
@import 'meteoric_ionicons-sass/ionicons';
/*@import 'ratchet.css';*/
/*@import 'minnow.css';*/
@media(min-width: 472px){
  html{
    -webkit-background-size: rgba(0,0,0,0.57)!important;
    -moz-background-size: rgba(0,0,0,0.57)!important;
    -o-background-size: rgba(0,0,0,0.57)!important;
    -ms-background-size: rgba(0,0,0,0.57)!important;
    background: rgba(0,0,0,0.57)!important;
  }
  html, body{
    height: 900px!important;
    width: 450px!important;
    -webkit-background-size: containt!important;
    -moz-background-size: containt!important;
    -o-background-size: containt!important;
    -ms-background-size: containt!important;
    background-size: containt!important;
    margin: 0 auto 10% 30%!important;
    border-radius: 9px!important;
    -webkit-background-repeat: repeat!important;
    -moz-background-repeat: repeat!important;
    -o-background-repeat: repeat!important;
    background-repeat: repeat!important;
  }
  // .navbar-brand {
  //   float: right!important;
  // }
}
@media (min-width: 680px){
  .modal {
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    width: 100%!important;
  }
  .tabs {
    width: 450px;
  }
}
@media (min-width: 768px){
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{

  }
  .navbar-brand{
    float: right!important;
  }
}
@media (min-width: 768px){
.modal-dialog {
  width: inherit!important;
  margin: inherit!important;
  }
}
html, body {
  font-family: "Helvetica Neue", "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: scroll;
  position: fixed;
  vertical-align: center;
  background: url(/travelling-alone.jpeg);
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.clear {
  margin-top: 10px;
}
.clean{
  margin-top: 25px;
}
.header-expenses{
  text-align: center!important;
}
.edit-trip-bg-body{
 /* background: #000;*/
}
.item h2{
  margin: 0 0 10px 10px;
  text-align: start;
  font-size: 25px;
  font-weight: normal;
}
.balance {
  font-size: 16px;
}
.anchor-resize{
  height: 100%;
}
h1.list {
 text-align: center;
}
.list {
  padding: 0px;
}
.clear-right{
  margin-left: 20px;
  float: right;
  text-align: right;
}
.edit-row{
  margin-left: -5px;
  margin-top: -4px;
}
.image-div{
  height: 300px;
  width: 100%;
}
.profile_pic {
  border-radius: 50%;
  box-shadow: 1px 1px 4px #333;
}
.prof_pic_wrapper{
  margin: 3% 27%;
}
.button-selector{
  float: right;
}
.trip-list{
  border-bottom: none;
  margin-bottom: 0;
}
.item{
  margin: 0px;
}
.text-wrap{
  color: #014771!important;
  height: 50px;
  width: 95%;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.1;
  word-wrap: normal;
  text-align: center;
  padding-top: 7px;
}
.item-thumbnail-left:hover {
  cursor: pointer;
}
.button-override{
  max-width: 100%;
}
.profile-image{
  height: 257px;
  width: 100%;
}
.login-signup{
  text-align: center;
  height: 100%;
  width: 80%;
  border-radius: 4px;
  background: rgba(0,0,0,0.57);
  padding: 30px 31px;
  margin: 40% auto;
}

.login-btn {
  border: none;
}

.login-input {
  padding-left: 10px!important;
  border-radius: 4px;
  box-shadow: 3px 7px 22px #666;
}

.demo-link {
  font-weight:700;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #EFF2F1;
}

input {
  padding-left: 10px;
}
/*############################## Bootstrap and Ionic Overrides ##############################*/
.nav-override {
  color: #EFF2F1!important;
  background: #014771;
  border: none;
  font-weight: 200;
}
.f-w-200 {
  font-weight: 300!important;
  margin-left: 10px!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.flexy {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}
.logo-image {
  height: 40px;
}
.actual-logo-image{
  height: 100%;
}
.modal{
  background: url(/travelling-alone.jpeg)!important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #EFF2F1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #4F738E;
}
.navbar-default .navbar-toggle {
  border-color: #4F738E;
}
.btn-default{
  color: #EFF2F1;
  background-color: #014771;
  border-color: #014771;
}
.login-link {
  margin-top: 35px;
}
.trip-layout {
  background: #EFF2F1;
}
.card{
  text-align: center;
  padding-top: 7px;
  border: none;
  background: #EFF2F1;
  padding-bottom: 1px;
}
.h-invite-override{
  font-weight: 500!important;
  color: #014771;
  font-size: 20px!important;
}
.h-override {
  margin-left: 30%;
  color: #EFF2F1!important;
}
.h-three-override {
  font-weight: 400;
  color: #EFF2F1;
}
.align-left{
  text-align: left!important;
}
.h-four-override {
  font-weight: 500;
  color: #014771;
  font-size: 14px!important;
}
.modal-title {
  color: #014771;
}
.no-invites {
  font-weight: 100!important;
  margin-top: 120px;
  font-size: 46px!important;
  line-height: 1.3em;
}
.opaque-bg{
  color: #EFF2F1;
  border: none;
  background-color: #000;
  text-align: center;
  height: 900px;
  background: rgba(0,0,0,0.47);

}
.no-trips{
  margin-top: -20px;
  padding-top: 10px;
}
.item p.dark-blue-text {
  font-weight: 400;
  color: #014771;
}
.dark-blue-text {
  font-weight: 400;
  color: #014771!important;
}
.login-signup-text {
  /*font-weight:700;*/
  font-size:1em;
  color:#EFF2F1;
}
.ice-text {
  font-weight: 400;
  color: #EFF2F1!important;
}
.delete-trip-button {
  font-size: 24px;
  margin-left: 10px;
  display: block;
  margin-top: 23%;

}

.trip-remove{
  z-index: 100;
}

.member-btn {
  width: 70px;
}

.invite {
  border: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.member-btn-container {
  text-align: center !important;
  margin-left: 0px;
  margin-right: 0px;
  padding:0px;
}

.add-email {
  padding-left: 0px;
  margin-left: 8px;
}

.attend-count {
  text-align: center;
  font-size: 22px !important;
  font-weight: bold !important;
}
.height-fix{
  height: 125px
}
.right-float {
  float: right;
}
.button-decline{
  border-color: #ff3d00;
  background-color: #ff3d00;
  color: #EFF2F1;
  border-radius: 4px;
}
.button.button-positive {
  border-color: #4F738E;
  background-color: #014771;
  color: #EFF2F1;
  border-radius: 4px;
}
.button.button-block.button-negative{
  float: none;
  border-color: #ff3d00;
  background-color: #ff3d00;
  opacity: 0.89999;
}
.button.button-negative {
  border-color: #ff3d00;
  background-color: #ff3d00;
  color: #EFF2F1;
  opacity: 0.89999;
  border-radius: 4px;
  margin-top: 10px;
  float: right;
  margin-right: 15px;
}
/*.segmented-control{
  border: none;
}
.segmented-control .control-item.active {
  color: #EFF2F1;
  background-color: #4F738E;
  font-size: 15px;
  font-weight: 600;
}*/
/*.segmented-control .control-item {
  color: #EFF2F1;
  border: none;
  font-size: 14px;
  font-weight: 500;
}*/
.segmented-control {
  padding: 0px;
  width: 94% !important;
  text-align: center !important;
  margin-top: 10px;
  margin-left: 3%;
  border-color: #014771 !important;
}
.segmented-control .control-item.active {
  background-color: #014771;
  text-decoration: none;
}
.segmented-control .control-item {
  color: #014771;
  border-color: #014771;
  background: rgba(240,248,255,0.50);
}
.expense-control {
  margin-bottom: 15px;
}
.item-stacked-label input, .item-stacked-label textarea{
  background: #EFF2F1;
}
.bg-ice{
  background: #EFF2F1!important;
}
.modal-content {
  background: #EFF2F1;
  color: #014771!important;
}
a {
  color: #014771;
}
.footer-fixed {
  position: fixed!important;
  padding-top: 8px!important;
  height: 60px!important;
  color: #FFFFFF!important;
  background: #014771;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  color: #EFF2F1!important;
}
.header-center {
  text-align: center;
  background: #EFF2F1;
  height: 100%;
}
.header-override{
  color: #014771;
  font-weight: 300!important;
  font-size: 27px!important; 
}
/*############################## End Overrides ##############################*/
.menu {
    list-style: none;
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 4em;
    background-image: linear-gradient(135deg,
                      rgb(254,255,255) 0%,
                      rgb(221,241,249) 35%,
                      rgb(160,216,239) 100%);
    background-size: 200%;
}
label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
}
.nav-trigger:checked + label {
    left: 215px;
}
.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #0066ff;
}
.item-thumbnail-left h3 {
  overflow: auto !important;
}
.tripListModule {
  width: 94%;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}
.trip{
  height:638px;
}
.tripListText {
  color: white;
  margin: 0;
  padding: 20px;
  font-size:22px;
  margin-top:20px !important;
  width: 50% !important;
}
.tripListDateText {
  color: white;
  margin: 0;
  padding: 20px;
  font-size:22px;
  margin-top:40px !important;
  float:right !important;
}
.auth-error {
  color: #ff3d00;
  font-weight: 600;
  font-size: 16px;
}
.image-fixed{
  height: 240px!important;
}
.message-container{
  margin-bottom: 0px!important;
}
.expensesNav{
  height:350px;
  width:96%;
  padding:10px;
  position: fixed;
}
.map-toggle {
  float: right;
}
.item p {
  white-space: normal;
}
.navbar-brand {
  float: right;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-toggle {
  float: left;
  margin-left: 10px;
}
.card-fix {
  color: #014771;
  height: 50px;
  width: 95%;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.1;
  word-wrap: normal;
}
.menu-link {
  color: #777;
}
.add-idea {
  text-align: center;
  margin-left: 0px;
  font-size: 18px;
}
.add-idea i {
  font-size: 24px
}
.add-expense{
  vertical-align: -15%;
  margin-left: 14px;
}
.add-organizers span {
  vertical-align: -18%;
  margin-left: 9px;
  font-size: 15px;
}
.add-idea span {
  vertical-align: 13%;
  margin-left: 5px;
}
.icon-label {
  margin-left: 15px;
}
.modal-body {
  padding:0px;
}
.delete-event {
  text-align: right;
  padding-right: 0px;
  padding-left: 10px;
}
.position-relative {
  position: relative;
}
.map-container {
  width: 100%;
  max-width: 100%;
  height: 225px;
}
.event-list-item {
  min-height: 70px !important;
  padding-bottom: 0px !important;
  padding-right: 0px;
}
.event-link {
  color: #173d9c;
  text-decoration: underline;
}
.message-button {
  width: 60px;
}
.navbar-toggle {
  border: 0px;
}
.photo-scroll {
  max-height: 70%;
  width: 100%;
}

.photo-container {
  position: relative;
  top: 50%;
}

.photos-body {
  background: #000;
  
}
/*add photo button  */
.btn-file {
  position: relative;
  overflow: hidden;
  border: 1.5px solid grey;
  color: grey;
}
.btn-container{
  position: fixed;
  bottom:60px;
  margin-top: -200px;
  margin-right: auto;
  margin-left: auto;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
  overflow: visible;
}

.time-select {
  padding-bottom: 10px !important;
}

.date-form {
  padding-left: 10px;
}

/*----------SLICK SLIDER-----------*/

/* Slider */
.slick-slider {
    position: relative;
    height: 510px;
    display: block;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 23%!important;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{
    clear: both;
}
.slick-loading .slick-track{
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.expenseDashButtons {
  float:right;
  margin-top:5px;
  margin-right:25px;
}
.venmo-button {
  margin-right: 15px;
}

.exp-btn {
  padding-top: 0px;
}

.exp-dash{
  padding-bottom: 0px;
}

.showTransactions{
  margin-bottom: px;
}
