@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
@import 'meteoric_ionic-sass/ionic';
@import 'meteoric_ionicons-sass/ionicons';


/*@import 'ratchet.css';*/
/*@import 'minnow.css';*/
.body {
  font-family: "Helvetica Neue", "Roboto", sans-serif;
}
html {
  overflow: auto;
}

h1.list {
  text-align: center;

}
.trip-list{
  border-bottom: none;
  margin-bottom: 0;
}

.item-thumbnail-left:hover {
  cursor: pointer;
}

.login-signup {
  text-align: center;
  padding-top: 200px;
  padding-right: 80px;
  padding-left: 80px;
  background: url(login-background.jpg) no-repeat center center fixed;
}

input {
  padding-left: 10px;
}

.login-link {
  margin-top: 35px;
}

.menu {
    list-style: none;
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 4em;
    background-image: linear-gradient(135deg,
                      rgb(254,255,255) 0%,
                      rgb(221,241,249) 35%,
                      rgb(160,216,239) 100%);
    background-size: 200%;
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #0066ff;
}



.tripListModule {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  backgroundSize: 100% 100%;
  width: 94%;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}

.tripListText {
  color: white;
  margin: 0;
  padding: 20px;
  font-size:22px;
  margin-top:40px !important;
  width: 50% !important;
}

.tripListDateText {
  color: white;
  margin: 0;
  padding: 20px;
  font-size:22px;
  margin-top:40px !important;
  float:right !important;
}

.auth-error {
  color: red;
}

.footer-fixed {
  position: fixed!important;
  padding-top: 8px!important;
  height: 60px!important;
}

.image-fixed{
  height: 240px!important;
}   

.message-container{
  margin-bottom: 0px!important;
}

.expensesNav{
  height:350px;
  width:96%;
  padding:10px;
  position: fixed;
}

.map-toggle {
  float: right;
}

.navbar-brand {
  float: right;
}

.navbar-toggle {
  float: left;
  margin-left: 10px;
}

.add-idea {
  margin-left: 0px;
  font-size: 18px;
}

.icon-label {
  margin-left: 15px;
}